@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap');

:root{
    --fondo-light: #FAFAFA;
    --color-primario:#8F3AFE;
    --color-primario-design: #CE41FF;
    --color-secundario:#E243FF;
    --color-boxmessage: #EDE5F2;
    --color-light:#ffffff;
    --color-light-opacity:#ffffff8d;
    --color-dark:#3b274b;
    --color-silver:#A7A5A9;
    --color-design:#F9F4FA;
    --color-background-mobile: #F5F3F8;
    --font: 'Rubik', sans-serif;
    --color-h1:#3F2950;
}

body{
    max-width: 100%;
    height: 100vh;
    background-color: var(--fondo-light);
    overflow-x: hidden;
    font-family: var(--font);
}


.main-purpledesign{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-20%,0);
    width: 30%;
    height: 90%;
    background: linear-gradient(to top, var(--color-primario), var(--color-primario-design));
    z-index: -1;
    border-radius: 0 0 20rem 20rem;
}

.main-pinkdesign{
    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-70%,-100%);
    width: 30%;
    height: 90%;
    background-color: var(--color-design);
    z-index: -1;
    border-radius: 20rem 13rem 0 0;
}

.part-one{
    width: 50%;
}
.main-content{
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.main-content_mobile{
    width: 25rem;
    height: 50rem;
    background-color: var(--color-light);
    border-radius: 40px;
    padding: 1rem;
    box-shadow: 5px 5px 20px 5px #00000012;
}

.main-content_info{
    width: 50%;
}

/* ================================== */

.main-content_info h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .5em;
    color: var(--color-h1);
}
.main-content_info p{
    font-size: 1.6rem;
    color: var(--color-silver);
    line-height: 1.5em;
}


@media screen and (max-width: 950px){
    .main-content{
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        height: 90rem;
        padding: 5rem 3rem 0 3rem;
    }
    .part-one{
        width: 100%;
        margin-bottom: 10rem;
    }
    .main-content_mobile{
        margin: 0 auto;
    }

    .main-content_info{
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 529px){
    .main-content{
        height: 90rem;
        display: flex;
        flex-direction: column;
        height: 70rem;
        padding: 5rem 1rem 0 1rem;
    }
    .part-one{
        width: 100%;
        margin-bottom: 3rem;
    }
    .main-content_mobile{
        margin: 0 auto;
        width: 20rem;
        height: 39rem;
        border-radius: 40px;
    }

    .main-content_info{
        text-align: center;
        width: 100%;
    }

    .main-content_info h1{
        font-size: 2.7rem;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--color-h1);
    }
    .main-content_info p{
        font-size: 1.45rem;
        color: var(--color-silver);
        line-height: 1.5em;
    }
   
}

@media screen and (max-width: 409px){
    .main-content{
        height: 70rem;
        padding: 5rem .5rem 0 .1rem;
    }
    .main-content_info p{
        font-size: 1.35rem;
        padding: 0 1em;
    }

}