svg{
    width: 1.5rem;
    fill: var(--color-light);
    color: var(--color-light);
}

.main-content_mobile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 5px 5px;
    width: 91%;
    background: linear-gradient(to right, var(--color-primario), var(--color-secundario));
    padding: 0 4%;
}

.mobile-header_info{
    display: flex;
    align-items: center;
    align-self: flex-start;
    height: 4.5rem;
    width: 100%;
}
.mobile-header_white-box{
    width: 13rem;
    height: 2rem;
    border-radius: 0 0 25px 25px;
    background-color: var(--color-light);
}
.main-content_mobile img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: solid 0.13em var(--color-light);
}

.mobile-header_info-name{
    margin: 0 32.5% 0 1rem;
    color: var(--color-light);
    line-height: 1.1em;
    letter-spacing: 1px;
    font-size: 19px;

}
.mobile-header_info-name p{
    font-size: .6em;
    letter-spacing: normal;
    color: var(--color-light-opacity);
}